@import "tailwindcss";

:root {
  --font-main: "Poppins", sans-serif;
  --font-mono: "JetBrains Mono", monospace;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

/* Body style */
body {
  background: #000;
  color: white;
  font-family: var(--font-main);
}

/* Heading font */
.heading-font {
  font-family: var(--font-main);
}

/* Code font */
.code-font {
  font-family: var(--font-mono);
}

/* Grid background */
.grid-hover-bg {
  position: absolute;
  inset: 0;
  z-index: 0;

  display: grid;
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: repeat(20, 1fr);
}

.grid-box {
  border: 1px solid rgba(255, 0, 0, 0.08);
  backdrop-filter: blur(1px);
  will-change: transform;
}

.grid-box:hover {
  background: rgba(228, 138, 138, 0.6);
  box-shadow: 0 0 20px rgb(217, 106, 106);
}
